<% layout('boilerplate/html.ejs') -%>

    <form action="/campground/new" method="POST">
        <label for="title">Title :  </label><input type="text" name="title" id="title" placeholder="Title??"><br> <br>
        <label for="location">Location :  </label><input type="text" name="location" id="locaiton" placeholder="location"><br><br>
        <button>Add?</button>
    </form><br>
    <a href="/campground">Back???</a>
