<% layout('boilerplate/html.ejs') -%>

    <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2>
    <a href="/campground">Back???</a><br><br>
    <a href="/campground/<%= campground.id %>/edit">Edit Campground</a>
    <form action="/campground/<%= campground.id %>/delete?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
